
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.titulosResponsive{
  @apply text-5xl font-bold mb-4 p-8 text-justify;
}


.subtitulosResponsive{
  @apply   md:text-3xl font-bold mb-4 p-8 text-center;
}

.textoResponsive{
  @apply md:text-2xl font-bold text-justify ;
}

.textoResponsive2{
  @apply text-xs md:text-2xl font-bold text-justify ;
}

.estiloPlanes{
  @apply 
border
rounded-2xl
p-8
bg-blue-950
}

.estiloPlanesCayan{
  @apply 
border
rounded-2xl
p-8
bg-cyan-950
}


.estiloPlanesFuccia{
  @apply 
border
rounded-2xl
p-8
bg-fuchsia-950
}

.textoNormalResponsive{
  @apply
  text-lg
  
  
}


.tituloResponsive{
  @apply
  text-4xl
  font-bold
}

.textoNormalResposivo{
  @apply
  text-sm
  md:text-3xl
  justify-center
  p-2
  
}

.textoBoldResponsivo{
  @apply
  text-sm
  md:text-3xl
  font-bold
  my-4
  justify-center
  p-2

}

.inputMorado{
  @apply
  bg-black 
  border-2 border-purple-500 rounded-2xl 
  w-80 md:w-120 
  h-8 md:h-12 
  text-sm md:text-2xl
  p-4
  justify-center
}



.textAreaMorado{
  @apply
  bg-black 
  border-2 border-purple-500 rounded-2xl 
  w-80 md:w-120 
  h-30 md:h-60
  text-sm md:text-2xl
  justify-center
  
}

.inputMoradostep{
  @apply
    bg-black 
  border-2 border-purple-500 rounded-2xl 
  w-80 
  h-8 md:h-12 
  text-sm md:text-2xl
  
  justify-center

}






